@{
    ViewBag.Title = "About";
}
<main class="p-12 " style="background-image: url('@Url.Content("~/Content/images/paw_.jpeg")'); ">

    <div class="p-12 bg-white rounded-full">
        <h3 class=" text-center text-5xl font-bold mb-[4vw] ">About Us</h3>

        <div class="flex items-center justify-center space-x-16">
            <p class="text-xl max-w-[30%] text-center">
                Discover the passion for pet care at Petcarehub.  Join our community and experience the joy of responsible pet ownership today!
            </p>
            <img class=" w-[300px]" src="~/Content/images/dog.jpeg" alt="Alternate Text" />
        </div>
    </div>

    <div class="p-24 bg-white rounded-full">
        <h3 class=" text-center text-5xl font-bold mb-[4vw] ">Our Vision</h3>
        <p class=" text-center text-xl w-[60%] m-auto  ">
            At PetSit, we are dedicated to providing exceptional pet care services to our customers and their furry friends.
            We believe in creating a harmonious environment for pets and owners alike.
            Our team is committed to delivering top-notch care and support, always striving for excellence and innovation.
        </p>
    </div>
    

    

    <div class="flex p-16 bg-white rounded-full">
        <div class="flex justify-content-around items-center m-auto space-x-16">
            <p class="text-5xl font-bold felx-1">Find your  <br />Purrfect <br /> match <br />Today!</p>
            <div>
                <img src="~/Content/images/petsitter.jpeg" alt="Alternate Text" />
            </div>
        </div>
    </div>

    <section class="flex">
        <div class="flex  items-center m-auto bg-[#e0dac9] rounded-xl space-x-16  px-28 py-8 ">

            <div class="flex-1">
                <h2 class="text-3xl font-bold">
                    Start your pet care journey
                </h2>

                <p class="text-xl font-bold">
                    Begin pampering your pets today !
                </p>
                <button class="m-auto text-white bg-black px-5 py-2 font-bold rounded-xl mt-8">
                    Book now
                </button>
            </div>


            <div>
                <img class="max-w-[300px] p-4 m-auto" src="~/Content/images/dog_corner_2.png" alt="Alternate Text" />
            </div>
        </div>
    </section>
   

</main>